---
---
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - LiterateGoblin's Wiki</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="icon" href="/wiki/assets/images/favicon.ico"/>
    <link rel="stylesheet" href="/wiki/assets/css/styles.css"/>
    <link rel="stylesheet" href="/wiki/pagefind/pagefind-ui.css">
    <link rel="stylesheet "href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans&display=swap"/>
    <script src="/wiki/pagefind/pagefind-ui.js"></script>
    <script src="/wiki/assets/js/search.js"></script>
  </head>
  <body>
    {{ content }}
    {% include footer.html %}
  </body>
</html>
